@model CINEMA.EF.Rap

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Xóa Rạp</h1>
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-12 col-md-9">
            <h3 class="h3 mb-2 text-gray-800">Bạn có chắc chắn muốn xóa rạp này không?</h3>
            <dl class="dl-horizontal">
                <div class="form-group">
                    <dt>
                        ID Rạp
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.id)
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        @Html.DisplayNameFor(model => model.CumRap.TenCum)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CumRap.TenCum)
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        @Html.DisplayNameFor(model => model.TenRap)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenRap)
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        @Html.DisplayNameFor(model => model.LoaiRap)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LoaiRap)
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        @Html.DisplayNameFor(model => model.KTNgang)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.KTDoc)
                    </dd>
                </div>

            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-danger" /> |
                    @Html.ActionLink("Quay lại", "Index")
                </div>
            }
        </div>
    </div>

    <!-- Page Heading -->
    <!-- DataTales Example -->

</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
