@model CINEMA.EF.Phim

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Xóa Phim</h1>
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-12 col-md-9">
            <h3 class="h3 mb-2 text-gray-800">Bạn có chắc chắn muốn xóa phim này không?</h3>
            <dl class="dl-horizontal">
                <div class="form-group">
                    <dt>
                        Tên Phim
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ten)
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        Ảnh Poster
                    </dt>

                    <dd>
                        <img src="/Upload/Poster/@Model.Poster" height="150" />
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        Trailer
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TraiLer)
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        Thời lượng
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ThoiLuong) phút
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        Đạo Diễn
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DaoDien)
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        Diễn Viên
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DienVien)
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        Thể Loại
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TheLoai)
                    </dd>
                </div>
                <div class="form-group">
                    <dt>
                        Ngày Công Chiếu
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayCongChieu)
                    </dd>
                </div>
            </dl>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Xóa" class="btn btn-danger" /> |
                    @Html.ActionLink("Quay lại", "Index")
                </div>
            }
        </div>
        </div>

    <!-- Page Heading -->
    <!-- DataTales Example -->

</div>
<!-- /.container-fluid -->
</div>
<!-- End of Main Content -->